@import "~skeleton-css-webpack";

@font-face {
    font-family: 'Trebuchet';
    src: url("../fonts/Trebuchet.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$main-background: url('../../media/images/background.jpg');

// Colors
$menu-color: #C7C4AC;
$text-color: #736357;

body{
  background: $main-background;
  font-family: 'Trebuchet';
  color: $text-color;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
  font-weight: bold;
}

.centered{
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.clickeable{
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.align-center{
  text-align: center;
}

.padding-left{
  padding-left: 4%;
}

.padding-right{
  padding-right: 4%;
}

.floating-nav{
  @media (min-width: 1200px) {
    position: fixed;
  }
  list-style: none;
  margin: 2rem;
  padding: 0;
  display: block;
  li{
    text-align: right;
    a{
      color: $menu-color;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.social-icon{
  font-size: 4rem;
}
