@import "~skeleton-css-webpack";

$main-background: url('../../media/images/background.jpg');

// Colors
$menu-color: #C7C4AC;

body{
  background: $main-background;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-center{
  text-align: center;
}

.floating-nav{
  @media (min-width: 750px) {
    position: fixed;
  }
  list-style: none;
  margin: 2rem;
  padding: 0;
  display: block;
  li{
    text-align: right;
    a{
      color: $menu-color;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
