@import "~skeleton-css-webpack";

$main-background: url('../../media/images/background.jpg');

body{
  background: $main-background;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
