<div class="row centered">
  <div class="one-half column padding-left padding-right">
    <img class="u-full-width" ng-src="{{$ctrl.species.image_url}}"/>
  </div>
  <div class="one-half column padding-left padding-right">
    <h1 class="align-center">
      {{$ctrl.category}}
    </h1>
    <div class="flex flex-horizontal flex-pulled-out" style="color: #996666;">
      <div>
        <h3>
          <i class="fa fa-arrow-circle-left clickeable" ng-click="$ctrl.previousSpecies($ctrl.species)"></i>
        </h3>
      </div>
      <div>
        <h5>
          {{$ctrl.species.name}}
        </h5>
      </div>
      <div>
        <h3>
          <i class="fa fa-arrow-circle-right clickeable" ng-click="$ctrl.nextSpecies($ctrl.species)"></i>
        </h3>
      </div>
    </div>

    <p>
      Nombre cientifico: <br>
      <span style="color: #996666;">
        {{$ctrl.species.scientific_name}}
      </span>
    </p>
    <p>
      Estado de conservación: <br>
      <span style="color: #996666;">
        {{$ctrl.species.vulnerability}}
      </span>
    </p>
    <p>
      {{$ctrl.species.description}}
    </p>

  </div>
</div>
