<div class="container">
  <div class="row">
    <img class="centered u-max-full-width" src="../../media/images/guayacan-top.png" />
    <h1 class="align-center">
      Beneficios
    </h1>
    <p class="align-center centered half">
      Un bosque es un ecosistema complejo, que logra mantenerse en equilibrio a pesar de los cambios climáticos, el agua disponible  y de los variables factores medioambientales.
    </p>
    <img class="centered u-max-full-width" src="../../media/images/guayacan-bottom.png" />
  </div>

  <hr>

  <div class="row">
    <h1 class="align-center">
      Beneficios naturales
    </h1>
  </div>

  <div class="row centered">
    <div class="one-half column padding-left">
      <ul>
        <li>
          La infiltración de aguas lluvias hacia capas subterráneas, reduciendo la erosión de los suelos y las inundaciones.
        </li>
        <li>
          Sus raíces contienen la tierra, evitando aluviones, así como la contención de rocas en gran tamaño en la base de sus árboles
        </li>
        <li>
          Es un pulmón verde para Santiago, que presenta gran cantidad de especies perennes que permiten reducir aquellas enfermedades respiratorias derivadas de la contaminación del aire atrapando partículas en suspensión incluso en invierno.
        </li>
        <li>
          Actúa como un regulador de temperatura, enviando aire frío y limpio hacia el valle durante la mañana.
        </li>
      </ul>
    </div>

    <div class="one-half column">
      <img class="centered u-full-width" src="../../media/images/gif/benefits.jpg" ng-src="{{src}}" gifplayer/>
    </div>
  </div>

</div>
