<div class="container">
  <hr>
  <div class="row">
    <p class="align-center">
      Un minisitio de la <a href="https://redprecordillera.cl/">Red por la Defensa de la Precordillera</a>
    </p>
  </div>
  <div class="row">
    <div class="centered six columns offset-by-three">
      <div class="row">
        <div class="social-icon align-center">
          <a href="https://www.instagram.com/redprecordillera/">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="social-icon align-center">
          <a href="https://www.youtube.com/user/RedPanul">
            <i class="fa fa-youtube"></i>
          </a>
        </div>
        <div class="social-icon align-center">
          <a href="https://www.facebook.com/red.precordillera/">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
        <div class="social-icon align-center">
          <a href="https://twitter.com/defensapanul">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>

      <div class="align-center margin-top">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
          <img alt="Licencia Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
        </a><br />
        Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licencia Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional</a>.
      </div>

    </div>


  </div>

  <hr>

  <div class="row centered">
    <p class="pull-right author-credits">
      Diseñado e ilustrado por Marcela Paz Rivas
    </p>
    <p class="pull-right author-credits-icons">
      <a href="https://www.behance.net/marcelapazrivas/">
        <i class="fa fa-behance-square"></i>
      </a>
      <a href="https://instagram.com/marcelapaz.art">
        <i class="fa fa-instagram"></i>
      </a>
    </p>
  </div>
  <div class="row centered">
    <p class="pull-right author-credits">
      Adaptación web por Marcelo Cueto
    </p>
    <p class="pull-right author-credits-icons">
      <a href="https://marcelocueto.cl">
        <i class="fa fa-globe"></i>
      </a>
      <a href="https://www.linkedin.com/in/marcelo-cueto-%C3%A1lvarez-139b59102/">
        <i class="fa fa-linkedin"></i>
      </a>
    </p>
  </div>

</div>
