<nav class="floating-nav">
  <li>
    <a href="#">
      Inicio
    </a>
  </li>
  <li>
    <a href="#">
      Bosque
    </a>
  </li>
  <li>
    <a href="#">
      Beneficios
    </a>
  </li>
  <li>
    <a href="#">
      Flora y fauna
    </a>
  </li>
  <li>
    <a href="#">
      Ubicación
    </a>
  </li>
  <li>
    <a href="#">
      Recomendaciones
    </a>
  </li>
  <li>
    <a href="#">
      Compartir
    </a>
  </li>
</nav>
<div class="container">
  <img class="centered u-max-full-width" src="../../media/images/logo.png" />
</div>
