<div class="container">
  <div class="row">
    <img class="centered u-max-full-width" src="../../media/images/peumo-top.png" />
  </div>

  <div class="row">
    <h1 class="align-center">
      Ubicación
    </h1>
  </div>

  <div class="row">
    <div class="one-half column">
      <img class="centered u-max-full-width" src="../../media/images/santiago-map.png" />
    </div>

    <div class="one-half column">
      <p>
        Está ubicado en la precordillera de la comuna de La Florida, específicamente en la Quebrada de Lo Cañas, dentro del Fundo también llamado El Panul, el cual es un vasto terreno de forma rectangular que se extiende en dirección oriente-poniente.  Se accede por el final de calle Las Tinajas.
      </p>
      <p>
        La entrada corresponde al antiguo acceso del Fundo Zavala, el cual permite el acceso al Fundo El Panul.
      </p>
    </div>
  </div>

</div>
